<div class="stacklist-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
  {{> component this}}

  <div class="stacklist-widget component-widget">
    <div class="chat-lines" role="list">
      {{#each _items}}
        <div class="chat-line {{#if ../_singleParticipant}}sole-participant{{else}}participant-{{_participant}}{{/if}}" role="listitem">
          <div class="chat-icon">
            <img class="chat-icon-inner" src="" />
            <div class="chat-icon-name"> </div>
          </div>
          <div class="chat-text">
                {{#if this.length}}
                    {{{a11y_text this}}}
                {{else}}
                    {{{a11y_text body}}}
                {{/if}}
          </div>
        </div>
      {{/each}}
      <div class="stacklist-button">
        <button class="stacklist-next" aria-label="{{_globals._accessibility._ariaLabels.next}}" role="button">
	                {{{_items.[0]._button.buttonText}}}
        </button>
      </div>
    </div>
  </div>
</div>
